body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Sansita Swashed", cursive;
  color: rgb(31, 31, 31);
}

#background-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("assets/background-old.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 200ms linear;
}

h1 {
  color: rgb(238, 238, 238);
  text-shadow: 2px 2px black;
}

h1:first-child {
  transform: translateX(-100%);
  opacity: 0;
}
h1:last-child {
  transform: translateX(100%);
  opacity: 0;
}

h1:first-child.loaded,
h1:last-child.loaded {
  transform: translateX(0%);
  opacity: 1;
}

.loaded {
  transition: all 1s ease-in-out;
}

audio {
  visibility: hidden;
}
